.vscode/*
*.class
hs_err_pid*.log
.vscode/launch.json
tre.dll
trej.dll
jni/win32/trej/trej.vcxproj.user
jni/win32/ipch/trej-40e5e6fb/trej-7fe13199.ipch
jni/win32/trej/x64/Release/cl.command.1.tlog
jni/win32/trej/x64/Release/CL.read.1.tlog
jni/win32/trej/x64/Release/CL.write.1.tlog
jni/win32/trej/x64/Release/com_trej_regex_Regex.obj
jni/win32/trej/x64/Release/dllmain.obj
jni/win32/trej/x64/Release/link-cvtres.read.1.tlog
jni/win32/trej/x64/Release/link-cvtres.write.1.tlog
jni/win32/trej/x64/Release/link-rc.read.1.tlog
jni/win32/trej/x64/Release/link-rc.write.1.tlog
jni/win32/trej/x64/Release/link.command.1.tlog
jni/win32/trej/x64/Release/link.read.1.tlog
jni/win32/trej/x64/Release/link.write.1.tlog
jni/win32/trej/x64/Release/match.obj
jni/win32/trej/x64/Release/stdafx.obj
jni/win32/trej/x64/Release/trej.lastbuildstate
jni/win32/trej/x64/Release/trej.log
jni/win32/trej/x64/Release/trej.obj
jni/win32/trej/x64/Release/trej.pch
jni/win32/trej/x64/Release/trej.write.1.tlog
jni/win32/trej/x64/Release/vc110.pdb
jni/win32/trej.v11.suo
jni/win32/trej.v11.suo
jni/win32/trej.opensdf
