.vscode/*
*.class
hs_err_pid*.log
.vscode/launch.json
/tre.dll
/trej.dll
jni/win32/trej/trej.vcxproj.user
jni/win32/ipch/trej-40e5e6fb/*.ipch
jni/win32/trej/x64/Release/*
jni/win32/trej/Release/*
jni/win32/trej.v11.suo
jni/win32/trej.v11.suo
jni/win32/trej.opensdf
